<h1>Editing Equipment Modifier Category</h1>

<%= render 'form', equipment_modifier_category: equipment_modifier_category, table_spec: table_spec %>

<%= link_to 'Show', equipment_modifier_category %> |
<%= link_to 'Index', equipment_modifier_categories_path %>
