<h1>New Equipment Modifier Category</h1>

<%= render 'form', equipment_modifier_category: equipment_modifier_category, equipment_types: equipment_types %>

<%= link_to 'Index', equipment_modifier_categories_path %>
