<li class="control-group nested-fields">
  <span class="controls">
    <%= f.text_field :name %>
  </span>
  <span class="controls">
    <%= f.text_field :skill %>
  </span>
  <span class="controls">
    <%= f.text_area :description %>
  </span>
  <span class="controls">
    <%= link_to_remove_association "remove", f %>
  </span>
</li>