<h1>New Rpm Ritual</h1>

<%= render 'form', rpm_ritual: rpm_ritual, rpm_modifiers: rpm_modifiers, rpm_modifier_levels_accepting_enhancements: rpm_modifier_levels_accepting_enhancements %>

<%= link_to 'Index', rpm_rituals_path %>
