<li class="control-group nested-fields">
  <div class="controls">
    <%= f.collection_select :master_trait_id, MasterTrait.order(:name), :id, :to_s %>
  </div>
  <div class="controls">
    <%= f.number_field :level %>
  </div>
  <div class="controls">
    <%= link_to_remove_association "remove", f %>
  </div>
</li>
