<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster_class.name %>
</p>

<%= link_to 'Edit', edit_monster_class_path(@monster_class) %> |
<%= link_to 'Back', monster_classes_path %>
