<h1>Editing Equipment Modifier</h1>

<%= render 'form', equipment_modifier: equipment_modifier, table_spec: table_spec %>

<%= link_to 'Show', equipment_modifier %> |
<%= link_to 'Index', equipment_modifiers_path %>
