<p>
  <strong>Name:</strong>
  <%= master_trait.name %>
</p>

<ul>
<% master_trait.traits.includes(:monster).order("monsters.name").each do |trait| %>
  <li>
    <%= link_to trait.monster_name, trait.creature, :class => "quiet" %><%= ": " unless (trait.level.blank? && trait.notes.blank?) -%>
    <% unless (trait.level.blank? && trait.notes.blank?) %>
      <%= render "creatures/show_trait", trait: trait -%>
    <% end %>
  </li>
<% end %>
</ul>
