<p>
  <strong>Name:</strong>
  <%= master_trait.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= master_trait.notes %>
</p>

<p>
  <strong>Is feature:</strong>
  <%= master_trait.is_feature %>
</p>

<ul>
<% master_trait.traits.each do |trait| %>
  <li><%= link_to trait.creature.name.to_s, trait.creature %>
<% end %>
</ul>
