<h1>Editing Equipment Type</h1>

<%= render 'form', equipment_type: equipment_type,
  campaigns: campaigns, equipment_modifier_categories: equipment_modifier_categories,
  equipment_modifier_supercategories: equipment_modifier_supercategories %>

<%= link_to 'Show', equipment_type %> |
<%= link_to 'Index', equipment_types_path %>
