/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
td {
  padding: 0 1em 0 0;
}
td.count {
  text-align: center;
  padding: 0 0 0 0;
}
td.cash {
  text-align: right;
}
footer.gurps {
  border: 1px solid grey;
  background-image: linear-gradient(to bottom, white, lightgray);
  background-color: whitesmoke;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 80%;
  position: fixed;
  bottom: 0px;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
}
main {
  padding-top: 36px;
}
input[type="number"] {
  width: 60px;
}

tr.tr0 {
  background-color: whitesmoke;
}
.tr1 tr {
}

.field-label {
  clear: both;
  float: left;
  width: 12%;
  padding-right: 3px;
}

.field-label.show {
  font-weight: bold;
}

.filter-label {
  clear: both;
  float: left;
  width: 150px;
  max-width: 200px;
  padding-right: 10px;
  font-weight: bold;
}

// TOP NAVIGATION MENU
.nav
{
  width: 100%;
  background-color: whitesmoke;
  float: left;
}
.nav,
.nav ul,
.nav li
{
  margin: 0px;
  padding: 0px;
}
.nav ul
{
  display: none;
  position: absolute;
  margin-left: -14px;
  margin-top: 9px;
  border: 1px solid #777777;
  z-index: 1;
  min-width: 150px;
}
.nav ul ul
{
  top: -10px;
  left: 100%;
  margin-left: 0px;
}
.nav ul li {
  min-width: 150px;
}
.nav li:hover > ul
{
  display: block;
}
.nav ul.parent_hover
{
  display: block;
}
.nav li
{
  list-style-type: none;
  float: left;
  color: inherit;
  background-color: whitesmoke;
  position: relative;
  padding: 10px 15px 10px;
}
.nav + *
{
  clear: left;
}
.nav a
{
  color: inherit;
  display:block;
  width: 100%;
  text-decoration: none;
}
.nav a:hover
{
  background-color: lightsteelblue;
}
.nav > li
{
  float: left;
}
.nav span
{
  display: block;
}
.nav li:hover
{
  background-color: lightsteelblue;
}

// SORTABLE TABLE COLUMNS
th .current {
  font-size: 120%;
}

th .asc {
}

th .desc {
}

// dashboard
div.dashboard {
  width: 100%;
  display: table;
}
div.dashboard-col {
  width: 50%;
  display: table-cell;
}
div.dashboard-item {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

// more graceful links
a.quiet {
  text-decoration: none;
  color: inherit;
}
a.quiet:hover {
  background-color: darkblue;
  color: white;
  text-decoration: underline;
}
a.quiet:active {
  background-color: red;
  color: white;
  text-decoration: underline;
}
// fixed-width table
.fixed-table {
  table-layout: fixed;
  width: 95%;
  white-space: nowrap;
}
.fixed-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.boxed-list {
  width: 80%; 
  border: 1px solid grey;
  padding-bottom: 5px;
}
// expanding fieldset
.remove_fields {
  font-size: 80%;
}
.add_fields {
  font-size: 80%;
  font-style: italic;
}
.expanding-fieldset-container {
  padding: 0px;
}

.footnote {
  font-size: 70%;
  font-style: italic;
}
span.disabled {
  text-decoration: line-through;
  color: grey
}