/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
td {
  padding: 0 1em 0 0;
}
td.count {
  text-align: center;
}
footer.gurps {
  border: 1px solid #d4d4d4;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 80%;
  position: fixed;
  bottom: 0px;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
}
main {
  padding-top: 36px;
}
input[type="number"] {
  width: 60px;
}

.field-label {
  clear: both;
  float: left;
  min-width: 75px;
  padding-right: 5px;
}

.field-label.show {
  font-weight: bold;
}

// TOP NAVIGATION MENU
.nav
{
  width: 100%;
  background-color: #f9f9f9;
  float: left;
}
.nav,
.nav ul,
.nav li
{
  margin: 0px;
  padding: 0px;
}
.nav ul
{
  display: none;
  position: absolute;
  margin-left: -14px;
  margin-top: 9px;
  border: 1px solid #777777;
  z-index: 1;
  min-width: 150px;
}
.nav ul ul
{
  top: -10px;
  left: 100%;
  margin-left: 0px;
}
.nav ul li {
  min-width: 150px;
}
.nav li:hover > ul
{
  display: block;
}
.nav ul.parent_hover
{
  display: block;
}
.nav li
{
  list-style-type: none;
  float: left;
  color: #000033;
  background-color: #f9f9f9;
  position: relative;
  padding: 10px 15px 10px;
}
.nav + *
{
  clear: left;
}
.endmenu
{
  clear: left;
}
.nav a
{
  color: #000033;
  display:block;
  width: 100%;
  text-decoration: none;
}
.nav a:hover
{
  background-color: #d0d0ff;
}
.nav > li
{
  float: left;
}
.nav span
{
  display: block;
}
.nav li:hover
{
  background-color: #d0d0ff;
}

// SORTABLE TABLE COLUMNS
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
}

.pretty th .desc {
}

// dashboard
div.dashboard {
  width: 100%;
  display: table;
}
div.dashboard-col {
  width: 50%;
  display: table-cell;
}
div.dashboard-item {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

// more graceful links
a.quiet {
  text-decoration: none;
}
.quiet a:hover
{
  background-color: #d0d0ff;
}
