// Place all the styles related to the Monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.threecolumnblock {
  display: table;
}
div.threecol1 {
  display: table-cell;
  width: 20%;
  padding: 10px;
}
div.threecol2 {
  display: table-cell;
  width: 20%;
  padding: 10px;
}
div.threecol3 {
  display: table-cell;
  width: 60%;
  padding: 10px;
}

li.nested-fields {
  display: table-row;
}
li.nested-header {
  font-weight: bold;
}
.controls {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  padding: 3px;
}

.add_fields {
  font-size: 80%;  
}
.expanding-fieldset-container {
  padding: 0px;
}
.trait {
  display: table-cell;
}
ul.vertical-list {
  list-style-type:none; 
  padding: 0; 
  margin: 0;
}
span.attack-label {
  font-weight: bold;
  margin: 0 5px 0 0;
}
span.attack-description {
}
li.attack-line {
  padding-left: 30px;
  text-indent: -30px;
}
.illo {
  float: right; 
  width: 300px; 
  min-height: 300px; 
  border: 1px solid #d4d4d4;
}
