// Place all the styles related to the Monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.threecolumnblock {
  display: table;
}
div.threecol1 {
  display: table-cell;
  width: 20%;
  padding: 10px;
}
div.threecol2 {
  display: table-cell;
  width: 20%;
  padding: 10px;
}
div.threecol3 {
  display: table-cell;
  width: 60%;
  padding: 10px;
}

li.nested-fields {
  display: table-row;
}
.nested-header {
  font-weight: bold;
}
.controls {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  padding: 3px;
}

.add_fields {
  font-size: 80%;  
}
.expanding-fieldset-container {
  padding: 0px;
}
.trait {
  display: table-cell;
  vertical-align: top;
  padding: 3px;
}
ul.vertical-list {
  list-style-type:none; 
  padding: 0; 
  margin: 0;
}
span.attack-label {
  font-weight: bold;
  margin: 0 5px 0 0;
}
span.attack-description {
}
li.attack-line {
  padding-left: 30px;
  text-indent: -30px;
}
.sidebar {
  float: right; 
  width: 300px;
}
.illo {
  min-height: 300px; 
  border: 1px solid #d4d4d4;
  text-align: center;
}
.longtext {
  padding-bottom: 0.5em;
}

// variant tree
ul.variantlist {
  text-align: left;
  padding: 0;
}
li.variantlist {
  list-style:none outside none;
  font-size: 80%;
}

// details of monster display
.concealed-detail {
  border: 1px dashed black; 
  margin-left: 0.5em;
  background-color: #f9f9f9;
}
.toggle-link {
  border: 1px solid black;
  color: #000033;
  background-color: #c9f9f9;
  font-size: 70%;
}
