<tr>
  <td>
    <%= f.label :score, f.object.characteristic.to_s %>
  </td>
  <td>
    <%= f.hidden_field :characteristic_id %>
    <%= f.number_field :score, :step => f.object.characteristic.step_size %>
  </td>
</tr>
