<% start_expanded ||= false %>
<%#----------------%>
<% count_header = pluralize(category_list.to_a.count, category_name) %>
<% links = [] %>
<% category_list.order_by_name.each_with_index do |category, index| %>
  <% title = category.name + " (" + pluralize(category.try(callback).try(:count), category_name) + ")" %>
  <% hash = {:name => category.name, :opts => {:title => title } } %>
  <% if filter_params[filter_param_key].to_s != category.id.to_s %>
    <% hash[:url] = url_for(filter_params.merge(filter_param_key => "#{category.id}")) %>
  <% end %>
  <% links << hash %>
<% end %>
<%#----------------%>
<div class="field">
  <span class="filter-label">Filter by <%= category_name %></span>
  <%= react_component 'BoxedList', {countHeader: count_header, links: links}, {tag: "span"} %>
</div>