<% unless params[:starting_with ] %>
  <div class="field">
    <span class="filter-label">Filter by initial</span>
    <ul class="tight-grid">
      <% letters.each_with_index do |starting_character, index| %>
        <%= link_to "#{starting_character}", filter_params.to_unsafe_h.merge(:starting_with => "#{starting_character}") %>
      <% end %>
    </ul>
  </div>
<% end %>
