<td style="font-size: 80%;"><%= link_to 'Edit', edit_polymorphic_path(target) %></td>
<td style="font-size: 80%;"><%= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
