<td style="font-size: 80%; min-width: 20px;"><%= link_to 'Edit', edit_polymorphic_path(target) %></td>
<td style="font-size: 80%; min-width: 40px;"><%= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
