<div class="field">
  <% if title.present? %>
    <span class="field-label"><%= title %></span>
  <% end %>
  <fieldset id="<%= table_spec.member_name %>" class="expanding-fieldset-container">
    <%= react_component 'ManyToManyTable', { spec: table_spec, baseId: base_id }, { tag: "span" } %>
  </fieldset>
</div>

