<% if m.monster_names.count > 0 %>
  <div style="display: table-row;">
    <div class="field-label show">Aliases</div>
    <div class="trait"><%= monster_alias_list m %></div>
  </div>
<% end %>

<% unless m.monster_class_name.empty? %>
  <div style="display: table-row;">
    <div class="field-label show trait">Class</div>
    <div class="trait"><%= link_to m.monster_class_name, m.monster_class, class: "quiet" %></div>
  </div>
<% end %>

<% unless m.expanded_field(:description).blank? %>
  <div style="display: table-row;">
    <div class="field-label show trait">Description</div>
    <div class="trait">
      <%=simple_format m.expanded_field(:description), {:class => "longtext"}, wrapper_tag: "div" %>
    </div>
  </div>
<% end %>