<% unless m.expanded_field(:notes).blank? %>
  <div style="display: table-row;">
    <div class="field-label show trait">Notes</div>
    <div class="trait">
      <%= simple_format m.expanded_field(:notes), {:class => "longtext"}, wrapper_tag: "div" %>
    </div>
  </div>
<% end %>
