<% unless m.expanded_notes.blank? %>
  <div style="display: table-row;">
    <div class="field-label show trait">Notes</div>
    <div class="trait">
      <%= simple_format m.expanded_notes, {:class => "longtext"}, wrapper_tag: "div" %>
    </div>
  </div>
<% end %>

<% if m.page_references.any? %>
  <div style="display: table-row;">
    <div class="field-label show trait">Sources</div>
    <div class="trait">
      <% m.page_references.each do |pg| %>
        <%= link_to pg.to_s, pg.book, class: "quiet" %> <br>
      <% end %>
    </div>
  </div>
<% end %>