<li class="control-group nested-fields">
  <%= render 'expanding_fieldset', f: f,
    id: "random_eq_profile_line_items", collection: :random_eq_profile_line_items,
    header: nil, header_list: [ :supercategory, :category, :quantity ],
    partial: 'random_eq_profile_line_item_fields', label: 'add line item' %>

  <div class="controls">
    <%= f.select :random_weight, (1..10) %>
  </div>

  <div class="controls">
    <%= link_to_remove_association "remove", f %>
  </div>
</li>
