<div class="sidebar">
  <% if m.illustrations.any? %>
    <div class="illo">
      <% m.illustrations.each do |illustration| %>
        <%= image_tag illustration.image.url(:medium) %>
        <%= illustration.notes.to_s %>
      <% end %>
    </div>
  <% end %>
  <% if m.campaign_monsters.any? %>
    <div class="nested-header rightsidebar" style="padding-top: 20px;">Campaigns</div>
    <ul class="rightsidebar">
      <% m.campaign_monsters.each do |cm| %>
        <li class="rightsidebar"><%= link_to cm.campaign_name, cm.campaign -%></li>
      <% end %>
    </ul>
  <% end %>
  <% if !(m.root? && m.is_childless?) %>
    <div class="nested-header rightsidebar" style="padding-top: 20px;">Monster Variants</div>
    <%= ancestor_tree(m) %>
  <% end %>
</div>