<div class="field">
  <span class="field-label show">Random Equipment<br>Profiles</span>
  <span class="boxed-list" style="display:inline-block">
    <ul>
      <% parent.random_eq_profiles.each do |random_eq_profile| %>
        <li>
          <%= random_eq_profile.random_eq_profile_line_items.join(", ") %>
          <% if random_eq_profile.random_weight.to_i > 1 %>
            (random weight: <%= random_eq_profile.random_weight %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </span>
</div>
