<div class="sidebar">
  <% if m.illustrations.any? %>
    <div class="illo">
      <% m.illustrations.each do |illustration| %>
        <%= image_tag illustration.image.url(:medium) %>
        <%= illustration.notes.to_s %>
      <% end %>
    </div>
  <% end %>

  <div class="nested-header rightsidebar" style="padding-top: 20px;">Campaign</div>
  <ul class="rightsidebar">
    <li class="rightsidebar"><%= link_to m.campaign_name, m.campaign -%></li>
    <%# TODO Show campaigns where variants appear? %>
  </ul>

  <% if !(m.root? && m.is_childless?) %>
    <div class="nested-header rightsidebar" style="padding-top: 20px;">Monster Variants</div>
    <%= ancestor_tree(m) %>
  <% end %>
</div>