<% if m.page_references.any? %>
  <div style="display: table-row;">
    <div class="field-label show trait">Sources</div>
    <div class="trait">
      <%= page_references_compact(m, "<br>") %>
    </div>
  </div>
<% end %>
