<% includes_variants = (monsters.select{ |monster| ! monster.root? }.length > 0) %>

<p>
  <span class="field-label show">Monsters:</span>
  <%= render "boxed_list", list: monsters.order_by_name, row_style_display: "" %>
  <% if includes_variants %>
    <span class="field-label show">&nbsp;</span>
    <span style="padding-left: 50px;">
      * variant
    </span>
  <% end %>
</p>
