<h1>New Equipment Modifier Supercategory</h1>

<%= render 'form', equipment_modifier_supercategory: equipment_modifier_supercategory %>

<%= link_to 'Index', equipment_modifier_supercategories_path %>
