<h1>New Equipment Category</h1>

<%= render 'form', equipment_category: equipment_category, equipment_modifier_supercategories: equipment_modifier_supercategories %>

<%= link_to 'Index', equipment_categories_path %>
