<p>
  <strong>Name:</strong>
  <%= equipment_category.name %>
</p>

<div class="field">
  <span class="field-label show">Equipment Types</span>
  <%= render "boxed_list", list: equipment_category.equipment_types, row_style_display: "" %>
</div>

<%= link_to 'Edit', edit_equipment_category_path(equipment_category) %> |
<%= link_to 'Index', equipment_categories_path %>
