<div class="threecolumnblock">
  <div class="threecol1">
    <div><span class="field-label show">HT</span> <%= show_stat(monster.characteristic_score "HT") %></div>
    <div><span class="field-label show">Hitpoints</span> <%= show_stat(monster.characteristic_score "HP") %></div>
  </div>
  <div class="threecol3">
    <div>
      <span class="field-label show">Move</span>
      <% monster.movement_rates.each do |mv| %>
	<%= pretty_movement_rate mv %><br>
      <% end %>
    </div>
  </div>
</div>

  