<table width="50%">
  <tr>
    <td width="15%"><strong>HT</strong></td>
    <td width="15%"><%= show_stat(monster.characteristic_score "HT") %></td>
    <td width="25%"><strong>Hit Points</strong></td>
    <td><%= show_stat(monster.characteristic_score "HP") %></td>
  </tr>
  <tr>
    <td><strong>Move</strong></td>
    <td>
      <% monster.movement_rates.each do |mv| %>
        <%= pretty_movement_rate mv %><br>
      <% end %>
    </td>
  </tr>
</table>


  